<div class='vignettes-header'>
	<div class='vignettes-header__inner'>
		{% include "base-subtemplates/_social-share.html" %}
		<h1 class='headline'>{{ vignettes_headline }}</h1>
		<h2 class='subheadline'>{{ vignettes_subheadline }}</h2>
		<div class='bylines'>
			<meta itemprop="datePublished" datetime="{{ date_published|xldate_to_datetime }}" content="{{ date_published|xldate_to_datetime }}">
			<time itemprop="dateModified" datetime="{{ date_modified }}"content="{{ date_modified|xldate_to_datetime }}">PUBLISHED: {{ date_modified|xldate_to_datetime|format_date_with_strftime("%B %-d, %Y") }}</time>
		</div>
		<ul class='vignettes-header__mugs'>
			{% for v in vignettes %}
				<li class='header-mug header-mug--{{ loop.index }}'>
					<a class='header-mug__link' href="#{{ v.id }}">
						<img class='header-mug__image' src='{{ v.image }}' alt="Image of {{ v.first_name }} {{ v.last_name }}" />
						<span class='header-mug__text' >{{ v.kicker }}</span>
					</a>
				</li>
				{% if v.image_2 %}
				<li class='header-mug header-mug--{{ loop.index }}'>
					<a class='header-mug__link' href="#{{ v.id }}">
						<img class='header-mug__image' src='{{ v.image_2 }}' alt="Image of {{ v.first_name_2 }} {{ v.last_name_2 }}" />
						<span class='header-mug__text' >{{ v.kicker }}</span>
					</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>