<div class='vignette' id='{{ v.id }}'>
	<h3 class='vignette__kicker'>{{vig.kicker|upper}}</h3>
	<p class='vignette__name'>{{vig.first_name}} {{vig.last_name}} {% if vig.first_name_2 %} & {{ vig.first_name_2 }} {{ vig.last_name_2 }}{% endif %}
</p>
	<p class='vignette__description'>{{ vig.then }} {% if vig.first_name_2 %} & {{ vig.then_2 }}{% endif %}</p>
	<figure>
		<blockquote class='vignette__quote'>{{vig.quote}}</blockquote>
		{% if vig.first_name_2 %}<figcaption class='vignette__quote-attribution'>{{vig.first_name}} {{vig.last_name}}</figcaption>{% endif %}
	</figure>
	<figure class='vignette__video'>
		<div class="video-wrapper">
			<video
			data-account="3690581440001"
			data-player="S1vBkbMfe"
			data-embed="default"
			data-video-id="ref:{{ vig.video_id }}"
			class="video-js"
			controls></video>
		</div>
	</figure>
	<h2 class='deck'>{{vig.deck}}</h2>
	
	<div class='river'>
		{{vig.text|markdown}}
		{{vig.text_2|markdown}}
		<p><em>— {{ vig.byline }}</em></p>
		{% if vig.quote_2 %}
			<figure>
				<blockquote class='vignette__quote vignette__quote--2'>{{vig.quote_2}}</blockquote>
				{% if vig.first_name_2 %}<figcaption class='vignette__quote-attribution'>{{ vig.first_name_2 }} {{ vig.last_name_2 }}</figcaption>{% endif %}
			</figure>
		{% endif %}
		{% if vig.extra_photo and vig.extra_photo_cap %}
			<figure class='vignette__old-photo'>
				<img src='{{ vig.extra_photo }}' alt='A historical photo' />
				<figcaption>{{ vig.extra_photo_cap }}</figcaption>
			</figure>
		{% endif %}
	</div>
</div>