<ul class='capsules'>
	{% for v in stories['vignettes']|sort(attribute="display_order") if v.id and v.text %}
	{# Loop through the vigennettes and make our pills #}
		<li class='capsule {% if loop.first %} capsule--active{% endif %}' data-vignette="{{ v.id }}">
			<a class='capsule__link' href="#{{ v.id }}" >
				{# <img class='capsule__image' src='{{ v.image }}' alt="Image of {{ v.first_name }} {{ v.last_name }}" />
				{% if v.image_2 %}
					<img class='capsule__image' src='{{ v.image_2 }}' alt="Image of {{ v.first_name_2 }} {{ v.last_name_2 }}" />
				{% endif %} #}
				<span class='capsule__text' >{{ v.kicker }}</span>
			</a>
		</li>
	{% endfor %}
</ul>