.header{
    background: black url(../img/bg_texture.jpg);
    background-size: 150px;
}

.note{
	@include sans-serif();
	text-align:center;
	color:white;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(white,.1);
    padding: 10px;


	svg{
		height: 1.5em;
		width: 1.5em;
		margin-right: .5em;
		background: white;
		padding: 3px;
		border-radius: .3em;
	}

	button{
		margin-left: .5em;
	}
}

.first-slide-background {
	display: flex;
	align-items: center;
	justify-content: center;
}

.first-slide {
	width: 500px;
	// margin-top: 110px;
	&--photo {
		width: 100%;
		margin: auto;
	}
}

.panel{
	// height: 200vh;
	// background-size: cover;
	box-sizing:border-box;
	position:relative;
	
	img {
		width: 100%;
		z-index: 2;
		margin: 0;

	}

	&__inner{
		padding: $grid-gap;
		z-index: 100;
	}

	&__text{
		font: 20px/1.5em #{$sans-serif-fonts};
		opacity: 0.85;
		color: white;
		text-align: center;
	}
}

.headline-container {
    padding: $grid-gap;
    box-sizing: border-box;
}

.bylines{
	p{
		font: 16px/1.5em #{$sans-serif-fonts};
		color: white;
		text-align: center;
	}
}


@media all and (min-width:$tablet-min-width){
	.panel{
		height: 200vh;
		border-bottom: 3px solid black;
		
		img {
			position: sticky;
			top: $navbar-overall-height;
		}

		&__inner{
			background-color: rgba(black, .7);

			position:absolute;
			top: 50vh;
			left: 50vw;
			transform: translate(-50%, -50%);
			
			max-width: 500px;
		}
	}
	.panel.panel--0{
		height:auto;
		padding: $grid-gap 0;
		img{ position: static;}
	}
}