.header{
	background-color: black;
	// padding-top: 10px;
}


.first-slide-background {
	display: flex;
	align-items: center;
	justify-content: center;
}

.first-slide {
	width: 500px;
	margin-top: 110px;
	&--photo {
		width: 100%;
		margin: auto;
	}
}


.dateline{
	h3{
		text-align: center;
		@include serif-text(45px, 1.3em, bold);
		color: black;
		font-style: italic;
		margin: 0 0 10px 0;
	}

	h4{
		text-align: center;
		@include serif-text(25px, 1.3em, bold);
		color: black;
		font-style: italic;
		margin: 0;
	}
}

.panel{
	height: 200vh;
	background-size: cover;
	box-sizing:border-box;
	position:relative;
	border-bottom: 3px solid white;
	
	img {
		position: sticky;
		width: 100%;
		top: $navbar-overall-height;
		z-index: 2;
		margin: 0;

	}


	&__inner{
		padding: $grid-gap;
		position: relative;
		background-color: rgba(black, .7);
		z-index: 100;
		margin: auto;
		max-width: 500px;
	}

	&__text{
		font: 20px/1.5em #{$sans-serif-fonts};
		opacity: 0.85;
		color: white;
		text-align: center;
	}

	&--0 {
		height: 100vh;
		img {
			position: static;
		}
	}

	&--header{
		.panel__inner{

		}
	}
}

.headline-container {
	padding: 40px 0 40px 0;
}

.headline{
	@include serif-text(100px, 1.3em, normal);
	color: white;
	margin: 0 0 #{$grid-gap / 2} 0;
	text-align: center;
	
	
	// @supports(width:max-content) or (width:-moz-max-content) or (width:-webkit-max-content) or (width:-o-max-content) or (width:-ie-max-content){
	// 	// In browsers that support it, this  will stretch the headline
	// 	// to a reasonable width and stretch the container while we're 
	// 	// at it. If the browser doesn't support this, then we'll use a 
	// 	// max-width on the container, but that might force the text to wrap.
	// 	width: max-content;
	// }
}

.subheadline{
	font: 20px/1.5em #{$sans-serif-fonts};
	color: white;
	margin: 0 0 #{$grid-gap / 2} 0;
	text-align: center;
}

.bylines{
	p{
		font: 16px/1.5em #{$sans-serif-fonts};
		color: white;
		text-align: center;
	}
}

.now-photos {
	display: flex;
	justify-content: space-between;
	
	&--single {
		width: 49%;
		img {
			width: 100%;
		}
	}

	&--cap {
		margin-top: 10px;
	}

	&--container {
		background-color: #222;
		padding: 0 10px 0 10px;
	}
}