.story-refer{

	margin: $grid-gap 0;
	padding: $grid-gap 0;

	border-top: $border;
	border-bottom: $border;


	&__text{}
	&__image{
		// flex: 1 1 100px;
		width: 100%;
	}

	&__headline{
		font: 35px/1.3em #{$fonts-serif};
		margin: 0;
	}

	&__subheadline{
		@include sans-serif();
		margin: 0;
	}

	&__link{
		margin: #{$grid-gap / 2} 0;
		display: block;
	}
}

@media all and (min-width: $tablet-landscape-min-width){
	
	@supports (display:grid){
		
		// We'll use grid to make this more compact. For those browsers that don't support, leave it in mobile display

		.story-refer{
			display: grid;
			grid-template-columns: 200px 1fr;
			grid-gap: #{$grid-gap / 2};

			&--mainbar{
				box-sizing: border-box;
				grid-template-columns: 350px 1fr;
				border-top: none;
				border-bottom: none;
				padding: $grid-gap;
				background: #e0e0e0;
			}

			&__text{
				grid-row: 1;
				grid-column: 2;
			    align-self: center; // Make sure content is vertically centered
			}

			&__image{
				grid-row: 1;
				grid-column: 1;
			}
		}
	}
}