//Capsule styling for top of page
.capsules {
	max-width: 700px;
	margin: auto;
}

.capsule {
	display: flex;
	margin-bottom: 20px;
	padding: 10px;
	background-color: $trib_gray4;
}

.category {
	width: 200px;
	margin-right: 20px;

	h4{
		@include sans-serif-text(21px, 1.3em, bold);
		margin: 0;
	}
}

.blurb {
	max-width: 280px;

	a{
		color: black;
		@include serif-text(18px, 27px);
	}
}

.blurbs {
	&--duo{
		height: 125px;
	}
}

.photo {
	margin-right: 20px;
	width: 200px;
}

.bold-text {
	font-weight: bold;
}


//styles for vignette text

.vignette-container {
	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}
.vignette-kicker {
	@include sans-serif-text(21px, 1.3em, bold);
	text-align: center;
}

.deck {
	@include serif-text(35px, 1.3em);
	text-align: center;
}

.vignette-header {
	img {
		margin: auto;
		display: block;
	}
}

.quote-container {
	width: 420px;
	height: 420px;
	margin: 30px auto;
	border-radius: 211px;
	background-color: $trib_red2;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 10px solid white;
	box-shadow: 0 0 0 5px $trib_red2;
}

.quote {
	width: 280px;
	h4 {
		@include serif-text(24px, 1.3em, bold);
		text-align: center;
		color: white;
		margin: 0 0 5px 0;
	}
	p {
		text-align: center;
		color: white;
		margin: 0;
	}
}