.capsules {
	max-width: 700px;
	margin: auto;
}

.capsule {
	display: flex;
	margin-bottom: 20px;
	padding: 10px;
	background-color: $trib_gray4;

	&:hover {
		background-color: $trib_gray3;
	}
}

.category {
	width: 200px;
	margin-right: 20px;

	h4{
		@include sans-serif-text(21px, 1.3em, bold);
		margin: 0;
	}
}

.blurb {
	max-width: 280px;

	a{
		color: black;
		@include serif-text(18px, 27px);
	}
}

.photo {
	margin-right: 20px;
}

.bold-text {
	font-weight: bold;
}