
.vignettes-header{
	min-height: calc(100vh - #{$navbar-overall-height});
	background: #aaa url(../img/top-photos/top-2.jpg) center center no-repeat;
	background-size:cover;
	position: relative;
	margin-bottom: $grid-gap;
	display:flex;

    &:before{
    	content:"";
    	display:block;
    	background: black;
    	opacity: .7;

    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }

	&__inner{
		box-sizing: border-box;
		// background: rgba(black, .7);
		padding: $grid-gap;
		margin: auto;
		// max-width: 600px;
		position: relative;

		text-align:center;
	}

	&__headline{
		@include label2();
		color:white;
		margin: 0;
	}

	&__dek{
		color: white;
		margin: 0;
	}

	&__mugs{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: stretch;

	    list-style:none;
	    margin: #{$grid-gap / 2} 0;
	    padding: 0;
	}
}

.header-mug{

    flex-basis: 140px;
    text-align: center;
    margin: 0 $grid-gap $grid-gap 0;

	&__image{
	    border-radius: 50%;
	    border: 7px solid #eee;
	    width: 100%;
	    box-sizing: border-box;
    }

    &__text{
    	@include sans-serif-text(16px, 1.3em, normal);
    	color:white;
    }
}


@media all and (min-width: $tablet-min-width){
	.vignettes-header__headline{
		font-size: 60px;
	}
}