@import 'base-variables';
@import 'base-config'; // If you are using the off-platform blueprint, uncomment this.
@import 'riots-config'; 

@import 'base-mixins';

@import 'base-pullquote'; // If you want to start over with the pullquote design, remove this import
@import 'base-photos-and-arrangements';

// theming


// body{
	
// }

.cta__button { color: black }

h3{
	// These are story breakers and should remain the top-level header inside a story.
	@include sans-serif-text(28px, 1.2em, 700);
	color: $base-text-color;
	margin: #{$grid-gap} 0 #{$grid-gap / 2} 0;
    border-left: 1em solid $trib-red2;
    padding-left: .5em;
}

.trib-pullquote {
	blockquote, figcaption{ color: $base-text-color; }
}

.container{
	// background: lightgreen;
	max-width: $container-max-width;
	padding: 0 $container_padding_h;
	position: relative;
}

.story .river{
	// We only want rivers inside our main story container to do this
	max-width: $river-text-width;
	margin: 0 auto;
	position: static;
}

.side{
	// this class will bump it's element into the media column on desktop
	margin: $grid-gap 0;

}

.graphic-wrapper{
	padding: 20px;
	box-sizing:border-box;
	background:white;
	margin: $grid-gap 0;
	img {width: 100%;}

	.chart-headline{
		@include label7();
		color:black;
		margin: 0;
	}

	.chart-describer{
		@include sans-serif();
		color:black;
		margin: 0;
	}

	.chart-subheadline{
		@include sans-serif();
		font-weight:bold;
		color:black;
		margin: #{$grid-gap / 2} 0 0 0;
	}

	.chart-label{
		@include sans-serif-text(14px, 1em, 400);
	}
}

.chart{
	height: 200px;
	& + .chart {
		margin-top: $grid-gap / 2;
	}
}

#median-income{
	display:flex;
	flex-wrap:wrap;

	figcaption{ width: 100%; }
	.chart{height: 150px;}
	.graphic-wrapper__column{
	    flex: 1 1 200px;
	}

}


// The map graphic elements here

.map-wrapper{
	margin: $grid-gap 0;
	position:relative;
	&--traveler{
		// This is the side-saddle map
		display:none;
	}
}

.map{
	display:contents;
	img{ width: 100%;}
}



.map-waypoint--visible{
	// background: lighten(yellow, 25%);
	background: $waypoint-text-highlight-color;
	color: white;
}

.map-layer{
	position:absolute;
	top:0;
	left: 0;
	// opacity:1;
}

@media all and (min-width: $tablet-landscape-min-width){

	.story .river{
		// width: $river-text-width;
		margin: 0 ;
		// background: yellow;
		// position: static;

	}


	.side{
		width: calc(100% - #{$graphic-left-edge} - #{$container_padding_h});
		position: absolute;
		left: $graphic-left-edge;
		margin: 0;
	}

	.graphic-wrapper{
		// For the side-saddle graphics
		// width: calc(100% - #{$graphic-left-edge} - #{$container_padding_h});
		// position: absolute;
		// left: $graphic-left-edge;
		// margin: 0;
		padding: 20px;
		box-sizing:border-box;
		background:white;
	}

	.map-wrapper{
		display:none;
		&--traveler{
			display:block;
			margin: 0;
			width: calc(100% - #{$graphic-left-edge} - #{$container_padding_h});
			position: absolute;
			left: $graphic-left-edge;
			min-height: 600px;
			height: 100%; // Since this is positioned absolutely, 100% height should stretch it to the full height of the container
		}
	}
	.map-layer{
		opacity:0;
		transition: opacity 150ms ease;
		&--visible{
			opacity:1;
			transition: opacity 150ms ease;
		}
	}
	.map{
		position:sticky;
		top: #{$grid-gap + $navbar-overall-height};
		display:block;
		// This max height makes sure it is vertically centered in shorter 
		// viewports and not forced into a tall height on larger viewports
		// = TOTAL HEIGHT - NAV WITH A GRID-GAP MARGIN ABOVE AND BELOW.
		max-width: calc(100vh - #{($grid-gap * 2) + $navbar_overall_height});
		overflow: hidden;
	}

	.video-wrapper 
	video{
	max-width: $container-max-width;	

	}
}
