{% extends "subtemplates/_riots-base.html" %}

{% block library_scripts %}
	{{ super() }}
	<script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script>
	<script>
		const populationData = {{ data_population|tojson }};
		const incomeData = {{ data_income|tojson }};
		const povertyData = {{ data_poverty|tojson }};
	</script>
{% endblock %}

{% block stylesheets %}
	{{ super() }}
    <link rel="stylesheet" type="text/css" href="css/story.css">
{% endblock stylesheets %}

{% block title %}<title>{{ headline }} -- Chicago Tribune</title>{% endblock title %}

{% block content %}
	<article>
		{% include 'subtemplates/_riot-header.html' %}	
	{# 	<div class="advert" data-ad-type="shrinky-cube"></div>	
		<div class="advert" data-ad-type="leaderboard"></div> #}
		<section class='story container'>
			<div class='river river--first'>
				{# This section is the traveling map, which needs its own container #}
				{% for story in stories['mainbar1'] %}
					{% set s = story %}
					{% include 'subtemplates/_story-loop.html' %}
				{% endfor %}
			</div>
		</section>
		<section class='story container'>
			<div class='river'>
				{# This section is the rest of the story #}
				{% for story in stories['mainbar2'] %}
					{% set s = story %}
					{% include 'subtemplates/_story-loop.html' %}
				{% endfor %}
			</div>
		</section>
		{{ refer() }}
	</article>
{% endblock content %}


{% block scripts %}
	{{ super() }}
	<script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script>
{% endblock %}

{% block chartbeat_page_title %}{{ super() }} -- Mainbar{% endblock chartbeat_page_title %}
{% block omniture_page_name %}{{ super() }}--mainbar{% endblock omniture_page_name %}