{% extends "subtemplates/_riots-base.html" %}

{% block library_scripts %}
	{{ super() }}
	<script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
	{{ super() }}
    <link rel="stylesheet" type="text/css" href="css/story.css">
{% endblock stylesheets %}


{% block content %}

	{% include 'subtemplates/_riot-header.html' %}
	
{# 	<div class="advert" data-ad-type="shrinky-cube"></div>	
	<div class="advert" data-ad-type="leaderboard"></div> #}
	<section class='story container'>
		<div class='river'>
			{# This section is the traveling map, which needs its own container #}
			{% for story in stories['mainbar1'] %}
				{% set s = story %}
				{% include 'subtemplates/_story-loop.html' %}
			{% endfor %}
		</div>
	</section>
	<section class='story container'>
		<div class='river'>
			{# This section is the rest of the story #}
			{% for story in stories['mainbar2'] %}
				{% set s = story %}
				{% include 'subtemplates/_story-loop.html' %}
			{% endfor %}
		</div>
	</section>

	{{ refer() }}
	<section id='content' class='content container'></section>
{% endblock content %}


{% block scripts %}
	<script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script>
{% endblock %}