{% extends "subtemplates/_riots-base.html" %}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
{% endblock %}

{% block stylesheets %}
	{{ super() }}
    <link rel="stylesheet" type="text/css" href="css/vignettes.css">
{% endblock stylesheets %}


{% block content %}
	{# <div class="advert" data-ad-type="leaderboard"></div> #}
	{% include 'subtemplates/vignettes/_header.html' %}
	<div class='vignettes-container'>
		<nav class='vignettes-nav'>
			{% include 'subtemplates/vignettes/_vignettes-nav.html' %}
		</nav>
		<div class='vignettes-column'>
			<section id='content' class='content container'>
				{% for vig in vignettes %}
					{% set v = vig %}
					{% include 'subtemplates/vignettes/_vignette.html' %}

				{% endfor %}
			</section>
			<section id='credits' class='credits container'>
				<div class='river'>
					{% if note %}{{ note|markdown }}{% endif %}
					{% if sources %}{{ sources|markdown }}{% endif %}
					{% if credit %}{{ credit|markdown }}{% endif %}
				</div>
			</section>
		</div>
	</div>

{% endblock content %}


{% block scripts %}
	{{ super() }}
	<script src="//{{ ROOT_URL }}/js/vignettes.min.js" type="text/javascript"></script>
{% endblock %}