{% extends "subtemplates/_riots-base.html" %}

{% block title %}<title>{{ vignettes_headline }} -- Chicago Tribune</title>{% endblock title %}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
{% endblock %}

{% block stylesheets %}
	{{ super() }}
    <link rel="stylesheet" type="text/css" href="css/vignettes.css">
{% endblock stylesheets %}


{% block content %}
	{# <div class="advert" data-ad-type="leaderboard"></div> #}
	<article>
		{% include 'subtemplates/vignettes/_header.html' %}
		<div class='vignettes-container'>
			<nav class='vignettes-nav'>
				{% include 'subtemplates/vignettes/_vignettes-nav.html' %}
			</nav>
			<div class='vignettes-column'>
				<section id='content' class='content container'>
					<div class='river river--first'>
						{{ stories['vignettes_intro'][0]['text']|markdown }}
					</div>
					{% for vignette in stories['vignettes']|sort_vignettes("display_order") if vignette.id %}
						{% set v = vignette %}
						{% set idx = loop.index %}
						{% if vignette.text and vignette.deck %}
							{% include 'subtemplates/vignettes/_vignette.html' %}
						{% else %}
							{% include 'subtemplates/vignettes/_vignette-quote-only.html' %}
						{% endif %}
						{% if idx == 3 %}
							{% include 'subtemplates/_mainbar-teaser.html' %}
						{% endif %}
					{% endfor %}
				</section>
			</div>
		</div>
	</article>
{% endblock content %}


{% block scripts %}
	{{ super() }}
	<script src="//{{ ROOT_URL }}/js/vignettes.min.js" type="text/javascript"></script>
{% endblock %}

{% block chartbeat_page_title %}{{ super() }} -- Vignettes{% endblock chartbeat_page_title %}
{% block omniture_page_name %}{{ super() }}--vignettes{% endblock omniture_page_name %}