{% from './subtemplates/_macros.html' import photo_arr as photo_arr  with context%}

<header class='header'>
		<audio id='ambient' src="audio/hist-audio.mp3" autoplay preload="auto">
  Your browser does not support the <code>audio</code> element.
</audio>
	{% for panel in intro %}
		<div class='panel panel--{{ panel.num }}'>
			<img src='http://{{ ROOT_URL }}/img/top-photos/top-{{ panel.num }}.jpg'>
			<div class='panel__inner'>
				<div class='panel__text'>{{ panel.text|markdown }}</div>
				{% if loop.first %}
					<p class='note'>
						<svg>
							<use xlink:href="#headphones" />
						</svg>
						This presentation contains audio. <button id='audio-toggle'>Toggle audio</button>
					</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	<div class='headline-container'>
		{% include "base-subtemplates/_social-share.html" %}
		<h1 class='headline'>{{headline|upper}}</h1>
		<h2 class='subheadline'>{{deck}}</h2>
		<div class='bylines'>
			<p itemprop="author creator">
				By <a href="mailto:tbriscoe@chicagotribune.com" target="_blank">
					<span itemtype="http://schema.org/Person" itemscope="">Tony Briscoe</span>
				</a> and 
				<a href="mailto:eolumhense@chicagotribune.com" target="_blank">
					<span itemtype="http://schema.org/Person" itemscope="">Ese Olumhense</span>
				</a>
			</p>
 
			<p itemprop="author creator">
				Photos and video by <a href="mailto:tjames@chicagotribune.com" target="_blank">
					<span itemtype="http://schema.org/Person" itemscope="">Terrence Antonio James</span>
				</a>
			</p>
			<meta itemprop="datePublished" datetime="{{ date_published|xldate_to_datetime }}" content="{{ date_published|xldate_to_datetime }}">
			<time itemprop="dateModified" datetime="{{ date_modified }}"content="{{ date_modified|xldate_to_datetime }}">UPDATED: {{ date_modified|xldate_to_datetime|format_date_with_strftime("%B %-d, %Y") }}</time>
		</div>
	</div>	
</header>